<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <!-- You can add these sections to the machine's web.config for local development (with real values instead of PLACEHOLDER) -->
    <add key="consumerKey" value="PLACEHOLDER" />
    <add key="consumerSecret" value="PLACEHOLDER" />
    <add key="userAccessToken" value="PLACEHOLDER" />
    <add key="userAccessSecret" value="PLACEHOLDER" />
  </appSettings>
</configuration>
